{% extends "./common/base.html" %}

{% block title %}Crash Chart{% endblock %}

{% block content %}
    <div class="crash-chart"></div>
    <div>
        <input type="text" placeholder="defualt 0ms" style="width: 90px;padding: 1px 5px;">
        <button>Start</button>
        <input type="text" placeholder="defualt 0" style="width: 90px;padding: 1px 5px;">
        <button>Stop</button>
        <input type="text" placeholder="defualt 2s" style="width: 90px;padding: 1px 5px;">
        <button>Wait</button>
        <button>Reset</button>
        <button>Clear</button>
    </div>
    <div>Jackpot: <span></span></div>
{% endblock %}