
body {
    text-align: center;
    background: #000;
    color: #fff;
}

h1 {
    color: brown;
}

.crash-chart {
    width: 975px;
    height: 270px;
    background-color: rgba(#1d323c, .6);
    margin: 0 auto;
}